#dataTable {
	height: 30em;
  /*width: 60em;*/
	overflow: scroll;
}

#sheetArea {
	/*display:none;*/
}

#firstStartWizard {
  display:none;
}

.console {
  background-color: #eee;
  color: #333;
  padding: 10px;
  font-size: 90%;
  white-space: normal;
}

.error {
  color: red;
}

/*
#osmArea {
	display: none;
}

#tgnArea {
	display: none;
}*/

/* fix for broken view with openlayers and bootstrap*/
#osmArea img {
	max-width:none;
}

#osmMap {
	width: 100%;
	height: 20em;
}

/*
#mainArea {
	width: 60%;
	height: 80%;
	float: left;
}

#descriptionArea{
	width: 38%;
	float: right;
}

#logArea {
	display: none;
}

#dataTable {
	height: 30em;
	overflow: scroll;
}

#sheetArea {
	display:none;
}

#firstStartWizard {
	height: 30em;
}

#showAllButton {
	float: right;
}

#hideAllButton {
	float: right;
	display:none;
}

.actionBox {
	padding: em;
	margin: 1em;
	border-radius: 0.5em;
}

.actionBox h1 {

	font-size: 1.2em;
	padding:  0 0 0 0.2em;
	margin: 0 0 1em 0;
	border-radius: 0.3em;
}

.actionBox .container {
	padding:  0 0 0 0.2em;
	display: none;
}

.actionBox.main {
	border: 1px solid #000;
	background-color: #fff;
}

.actionBox.main h1{
	background-color: #000;
	color: #fff;
}

.actionBox.done {
	border: 1px solid #cfc;
	background-color: #fff;
}

.actionBox.done h1 {
	background-color: #cfc;
	color: #fff;
}

.actionBox.doNow {
	border: 1px solid #0f0;
	background-color: #fff;
}

.actionBox.doNow h1 {
	background-color: #0f0;
	color: #fff;
}

.actionBox.later {
	border: 1px solid #ccc;
	background-color: #fff;
	color: #ccc;
}

.actionBox.later h1 {
	background-color: #ccc;
	color: #fff;
}

.console {
  background-color: #eee;
  color: #333;
  padding: 10px;
  font-size: 90%;
  white-space: normal;
}
*/
